$shadow-color: rgba(0, 0, 0, 0.5);
$theme-color: rgb(26, 115, 186);
$anchor-hover-color: rgb(26, 115, 186);
$anchor-active-color: rgb(180, 27, 88);
$text-color: rgb(51, 51, 51);
$light-text-color: rgb(128, 130, 133);
$alert-danger-bg-color: rgb(239, 91, 161);

$green: rgb(17, 170, 88);
$dark-green: rgb(48, 139, 91);

$brown: rgb(158, 120, 95);
$dark-brown: rgb(110, 83, 66);

$orange: rgb(248, 160, 80);
$dark-orange: rgb(185, 123, 68);

$yellow-green: rgb(181, 185, 53);
$dark-yellow-green: rgb(126, 129, 37);

$magenta: rgb(177, 28, 84);
$dark-magenta: rgb(123, 19, 58);

$blue: rgb(38, 189, 207);
$dark-blue: rgb(61, 151, 161);

$gray: rgb(128, 130, 133);
$dark-gray: rgb(89, 90, 92);

$pink: rgb(239, 91, 161);
$dark-pink: rgb(167, 63, 112);

$red: rgb(238, 49, 45);
$dark-red: rgb(166, 34, 31);