<%= content_for(:header) do %>
	<%= render partial: 'events/shared/header' %>
<% end %>

<%= render partial: 'events/shared/no_sidebar' %>

<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-5 col-sm-offset-1 col-md-6">
	<%- @events.each do |event| %>
		<p>
			<%= event.name %>
		</p>
	<% end %>
</div>