<%= content_for(:header) do %>
	<%= render partial: 'events/shared/header' %>
<% end %>

<%= render partial: 'events/shared/no_sidebar' %>

<div id="main-content" class="new-event">
	<div class="form-container">
		<%= render template: 'events/shared/_form' %>
	</div>
</div>

