<%= content_for(:header) do %>
	<%= render partial: 'events/shared/header' %>
<% end %>

<div id="main-content" class="event-list">

	<%= render partial: 'events/shared/no_sidebar' %>
	<%= render partial: 'events/shared/event_list' %>

</div>


