<div id="header">

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hidden-xs"></div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center" id="event_logo">
		<img src="/assets/tw-logo.png"/>
	</div>

	<%= render partial: 'shared/username_dropdown' %>
</div>