<div class='modal fade form-modal' id='get_event_details' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
        <h2 class="modal-title">
          Edit message
        </h2>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger clearfix">
					<div class="pull-left">
						<strong>Couldn't update the message</strong>
					</div>

					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
				</div>
				<div class="form-group row">
					<div class='col-xs-6'>
						<div>
							<input class="message form-control" value="<%= @message %>" placeholder="Enter message fot the event"/>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="submit-message btn">Submit</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>
