<div class='modal fade form-modal' id='get_event_details' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="form-group">
					<div class='col-xs-12'>
						<label>Edit message</label>

						<div>
							<input class="message" value="<%= @message %>" placeholder="Enter message fot the event"/>
						</div>
					</div>

					<div class='col-xs-12'>
						<div>
							<button type="submit" class="submit-message">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
