@import "mixins/colors";

body {
  color: $text-color;
  font-family: opensans-regular;
  background: whiteSmoke;
  -webkit-text-size-adjust: 100%;
}

#main-content {
  margin: 150px 0 0 130px;

  &.event-list, &.new-event {
    margin: 116px 10px 20px 10px;
  }

  &.event-list {
    padding-top: 20px;
  }

  &.new-event {
    background: url('/assets/theme.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#header {
  padding: 12px 0;
  box-shadow: 0 3px 10px $shadow-color;
  margin-bottom: 20px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  img {
    height: 90px;
  }

  #event_logo {
    position: relative;
    top: 38px;
    img {
      height: 56px;
    }
  }
  #event {
    text-align: center;
    h1 {
      font-size: 45px;
      font-family: 'opensans-semibold';
      margin: 4px 0 0;
    }
  }

}

.sidebar {
  padding: 0;
  position: fixed;
  top: 151px;
  z-index: 9;
  left: 0;
  ul {
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 10px $shadow-color;
    background: white;
  }
  li {
    margin: 0 5px;
    padding: 12px 0;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid $text-color;
    list-style: none;
    &:first-child {
      border-top: none;
    }

  }

  #submit_new_talk {
    cursor: pointer;
  }

  .icon {
    font-size: 45px;
    font-weight: bold;
  }
  .icon-text {
    font-size: 15px;
    margin-top: 5px;
  }

}

a {
  color: $text-color;
  &:hover {
    color: $anchor-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}

a.active {
  color: $anchor-active-color;
}

.row {
  margin: 0;
}

.btn {
  color: $text-color;
  border: 1px solid $text-color;
  background: white;
  padding: 7px 20px;
  font-size: 16px;
  font-family: opensans-semibold;
  &:hover {
    background: $text-color;
    color: #ffffff;
  }
}

#username {
  padding-top: 64px;
  padding-right: 0px;
  cursor: pointer;
  font-size: 19px;

  &:hover .glyphicon-cog {
    color: $anchor-hover-color;
  }

  .glyphicon-cog {
    position: relative;
    top: 2px;
  }

  .icon {
    padding-right: 14px;
  }

  .dropdown-toggle {
    padding-right: 10px;
  }

  .dropdown-menu {
    top: 40px;
  }

  .open {
    .glyphicon-cog {
      color: $anchor-active-color;
    }
  }
}

.caret {
  border-top: 10px solid;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.alert {
  padding: 10px;
}

.alert-danger {
  background: $alert-danger-bg-color;
  color: #ffffff;
  border: none;
}

button.close {
  color: white !important;
  opacity: 1 !important;
}

.no-margin {
  margin: 0;
}

//******************************* Media Queries **************************************//

@media (max-width: 750px) {

  #header {
    #event_logo img {
      height: 30px;
    }
    #event {
      h1 {
        font-size: 32px;
      }
      h3 {
        font-size: 16px;
      }
    }
  }
  #username {
    padding-top: 34px;
    font-size: 15px;
    .dropdown-menu {
      top: 35px;
      > li > a {
        font-size: 15px;
      }
    }
  }
  .sidebar {
    position: static;
    margin: 84px 10px 0 10px;
    text-align: center;
    ul {
      display: inline-block;
      border: 1px solid $text-color;
      border-top: none;
    }
    li {
      float: left;
      border-top: none;
      border-left: 1px solid $text-color;
      margin: 0;
      padding: 10px 6px;
      max-width: 78px;
      &:first-child {
        border-left: none;
      }
    }
    .icon {
      font-size: 30px;
    }
    .icon-text {
      font-size: 12px;
    }
  }
  #main-content {
    margin: 205px 0 0 0px;
    &.event-list {
      margin: 80px 0 20px 0;
    }
  }

}

@media (min-width: 768px) and (max-width: 992px) {

  #main-content {
    margin: 135px 0 0 132px;
  }

  .sidebar {
    top: 135px;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
  #main-content {
    margin: 150px 0 0 100px;
  }
}